/* debug */
.t {
    border: 1px solid red;
}


/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* set variable */
:root {
    --text-lg: 3.2rem;
    --text-md: 2rem;
    --text-sm: 1.2rem;
    --text-color-light: #fff;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: url(../assets//279547.webp);
    background-repeat: no-repeat;
    color: var(--text-color-light);
    font-family: var(--font-family);  
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
}

/* typo */
.text-upper{
    text-transform: uppercase;
}
.text-sm{
    font-size: var(--text-sm);
}
.text-md{
    font-size: var(--text-md);
}
.text-lg{
    font-size: var(--text-lg);
}

/* layout */
.container{
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

/* components */
.header{
    padding: 50px 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__item{
    display: flex;
    font-weight: 500;
}
.nav__item__link{
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color-light);
}
.nav__item__link:hover{
    opacity: 0.7;
}

.main{}

.contains{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.contains--sm{
    max-width: 600px;
}
.contains__item{}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    column-gap: 10px;
    justify-content: space-between;
    box-sizing: content-box;
}
.form--inline{
    flex-direction: row;
}
.form__item{
    width: 100%;
}
.form__item--sm{
    width: 60%;
}
.form__item input{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.form__item input[type="submit"]{
    cursor: pointer;
    background-color: #e24c4c;
    color: var(--text-color-light);
    font-weight: 600;
}
.form__item input[type="submit"]:hover{
    background-color: #c04040;
}

